.parent{
  height: 600px;
  position: relative;
  margin-top: 150px;
  width: 80%;
  background-color: #3f3c3c;
  color:#fff
}

.item{
  width: 400px;
  height: 400px;
  background-color: rgb(34, 70, 163);
  position: absolute;
  top: 0px;
  left: 300px;
}